body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #7b2cbf;
    color: white;
    padding: 30px;
    text-align: center;
}body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #7b2cbf;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #5a189a;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #7b2cbf;
}

.card {
    background-color: #f1e9ff;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #7b2cbf;
    border-radius: 5px;
}

ul {
    line-height: 1.8;
}

blockquote {
    background-color: #eee;
    padding: 20px;
    border-left: 5px solid #7b2cbf;
    font-style: italic;
}

footer {
    background-color: #5a189a;
    color: white;
    text-align: center;
    padding: 15px;
}


nav {
    background-color: #5a189a;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #7b2cbf;
}

.card {
    background-color: #f1e9ff;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #7b2cbf;
    border-radius: 5px;
}

ul {
    line-height: 1.8;
}

blockquote {
    background-color: #eee;
    padding: 20px;
    border-left: 5px solid #7b2cbf;
    font-style: italic;
}

footer {
    background-color: #5a189a;
    color: white;
    text-align: center;
    padding: 15px;
}
